<div style="width: 20%;">
	<input ng-model='product_filter' placeholder="search..."></input><br><br>

	<h3>Add a new product</h3>
	<form class="form-group">
			<label>Name</label>
			<input class="form-control" ng-model='newProduct.name' placeholder="name..."></input><br>
			<label>Image (url)</label>
			<input class="form-control" placeholder="http://"></input>


			<select class="form-control" ng-model='newProduct.qty'>
				<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>10</option><option>20</option><option>50</option><option>100</option><option>150</option><option>200</option>
			</select><br>
			<select class="form-control" ng-model='newOrder.product'>
				<option ng-repeat='product in products'>{{product.name}}</option>
			</select><br>
			<input type="submit" ng-click='create()' value="Order"></input>
	</form><br>
</div>