<input ng-model='product_filter' placeholder="search..."></input><br><br>

<h3>Add a new product</h3>
<form class="form-group">
		<label>Customer</label>
		<select class="form-control" style="width: 25%;" ng-model='newOrder.name'>
			<option ng-repeat='customer in customers'>{{customer.name}}</option>
		</select><br>
		<label>Order</label>
		<select class="form-control" style="width: 25%;" ng-model='newOrder.qty'>
			<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
		</select><br>
		<select class="form-control" style="width: 25%;" ng-model='newOrder.product'>
			<option ng-repeat='product in products'>{{product.name}}</option>
		</select><br>
		<input type="submit" ng-click='create()' value="Order"></input>
</form><br>