<h2>Login</h2>
<form class="form-group">
	<label>Name</label>
	<input type="text" ng-model='newUser.name' class="form-control" style="width: 300px;"></input><br>
	<input type="submit" ng-click='login()' class="btn" value="Login" autofocus></input>
</form><br><hr><br>

<h2>Register</h2>
<form class="form-group" style="width: 300px">
	<label>Name</label>
	<input class="form-control"  type="text" ng-model='newUser.name'></input><br>
	<label>Age (optional)</label>
	<input class="form-control"  type="number" min='1' ng-model='newUser.age'></input><br>
	<label>Height</label><br>
	<input class="form-control"  type="number" min='1' ng-model='newUser.feet' placeholder="Feet" style="width:148px; display: inline-block;"> 
	<input class="form-control"  type="number" min='0' ng-model='newUser.inches' placeholder="Inches" style="width:148px; display: inline-block;"><br><br>
	<label>Weight (lbs)</label>
	<input class="form-control"  type="number" min='1' ng-model='newUser.weight'></input><br>
	<label>Body Fat Percentage</label>
	<input class="form-control"  type="number" min='1' ng-model='newUser.body_fat'></input><br>
	<label>Fitness Goal</label>
	<select ng-model='newUser.goal' class="form-control">
		<option>Lose Fat</option>
		<option>Gain Muscle</option>
		<option>Maintain</option>
	</select><br>
	<label>Goal Weight (lbs)</label>
	<input class="form-control"  type="number" min='1' ng-model='newUser.target_weight'></input><br>
	<label>Activity Level</label>
	<select ng-model='newUser.multiplier' class="form-control">
		<option value="1.1">< 1 hour exercise per week</option>
		<option value="1.2">1-3 hours exercise per week</option>
		<option value="1.35">4-6 hours exercise per week</option>
		<option value="1.45">6+ hours exercise per week</option>
	</select><br>
	<input class="form-control"  type="submit" ng-click='create()' class="btn" value="Register" autofocus></input>
</form>