<div>
	<a href="#/dashboard">Dashboard</a> |  
	<a href="#/table">Exercise Table</a> | 
	<a href="#/track">Track</a>
	<a href="#/" style="margin-left: 75%">Logout</a>
</div><br>

<div class="panel panel-default" style="width: 500px; height: 100%; padding:10px; display: inline-block; vertical-align: top">
  <div class="panel-heading">
    <h2 class="panel-title" style="display: inline-block; margin-right: 10px">{{currentWorkout.title}} <span style="margin-left: 40px">{{currentWorkout.points}} points</span> <span style="margin-left: 40px">{{currentWorkout.createdAt | date:'MMMM dd, yyyy'}}</span></h2>
    
  </div>
  <div class="panel-body">
	  <div ng-repeat='exercise in currentWorkout.exercises track by exercise.name'>
	  		<img src="{{exercise.pic_left}}" height="50px" width='50px' style="display: inline-block;"> 
	  		<div style="display: inline-block; word-wrap: break-word; height: 40px; width: 210px; padding: 2px 5px; vertical-align: middle;">
	  			<div style="word-wrap: break-word; display: inline-block">
	  				<span  style="color:black">{{exercise.name}}</span>
	  			</div>
	  		</div><hr style="margin: 5px 0px">
	  		
	  		<div ng-if='exercise.type!="Cardio"'>
	  			<span style="margin-right: 25px">Set</span>
	  			<span style="margin-right: 45px">lbs</span>
	  			<span style="margin-right: 25px">Reps</span>
	  		</div>
	  		<div ng-if='exercise.type=="Cardio"'>
	  			<span style="margin-right: 25px">Set</span>
	  			<span style="margin-right: 50px">Duration(h:m:s)</span>
	  			<span style="margin-right: 40px">Distance(mi)</span>
	  			<span style="margin-right: 25px">Pace(min/mi)</span>
	  		</div>

	  		<div ng-repeat='set in exercise.sets track by $index' ng-if='exercise.type=="Cardio"'>
			  		<span style="margin-right: 40px">{{$index+1}}</span>
			  		<span type="number" style="margin: 0px 100px 10px 0px; width:35px; height:25px" >{{set.hour}} : {{set.min}} : {{set.sec}}</span>
			  		<span type="number" style="margin: 0px 5px 10px 0px; width:35px; height:25px" >{{set.distance}}</span>
			  		<span type="number" style="margin: 0px 85px 10px 0px; width:35px; height:25px">{{set.duration}}</span>
			  		<span  style="margin: 0px 35px 10px 0px; width:45px; height:25px">{{(set.hour*60+set.min)/set.distance | number:1}}</span>
		  	</div>

		  	<div ng-repeat='set in exercise.sets' ng-if='exercise.type!="Cardio"'>
				  		<span style="margin-right: 40px">{{$index+1}}</span>
				  		<span type="number" style="margin: 0px 45px 10px 0px; width:45px; height:25px" >{{set.lbs}}</span>
				  		<span type="number" style="margin: 0px 35px 10px 0px; width:45px; height:25px" >{{set.reps}}</span>
			</div>
			<hr style="margin: 20px 0px; border:1px solid grey"><br>
	  </div>
  </div>
</div>