<input ng-model='filterer'></input>
<table class="table table-striped">
    <thead>
    	<tr>
    		<th>Name</th>
    		<th>Main Muscle Worked</th>
    		<th>Other Muscles</th>
    		<th>Force</th>
    		<th>Difficulty</th>
    		<th>Mechanics Type</th>
    		<th>Equipment</th>
    		<th>Sport</th>
    		<th>Type</th>
    	</tr>
    </thead>
    <tbody>
   		<tr ng-repeat='lift in lifts | filter:filterer'>
            <td><a href="{{lift[lift.name]['link']}}">{{lift.name}}</a></td>
            <td>{{lift[lift.name]["Main Muscle Worked"]}}</td>
            <td>{{lift[lift.name]["Other Muscles"]}}</td>
            <td>{{lift[lift.name]["Force"]}}</td>
            <td>{{lift[lift.name]["Level"]}}</td>
            <td>{{lift[lift.name]["Mechanics Type"]}}</td>
            <td>{{lift[lift.name]["Equipment"]}}</td>
            <td>{{lift[lift.name]["Sport"]}}</td>
            <td>{{lift[lift.name]["Type"]}}</td>
   		</tr>
    </tbody>
</table>