<div>
	<a href="#/dashboard">Dashboard</a> |  
	<a href="#/table">Exercise Table</a> | 
	Track
	<a href="#/" style="margin-left: 75%">Logout</a>
</div>
<h2>Log a Workout</h2>

<div class="panel panel-default" style="width: 350px; height: 100%; padding:10px; display: inline-block; vertical-align: top">
  <div class="panel-heading">
    <h2 class="panel-title" style="display: inline-block; margin-right: 10px">Seach</h2> 
    <input ng-model='filterer' placeholder="e.g. squat, running"></input>
  </div>
  <div class="panel-body" ng-if='filterer'>
	  <div ng-repeat='lift in lifts | filter:filterer' style="margin-bottom: 10px">
	  		<img src="{{lift.pic_left}}" height="50px" width='50px' style="display: inline;"> 
	  		<div style="display: inline; word-wrap: break-word; height: 30px; width: 200px; padding: 10px">
	  			<div style="word-wrap: break-word; display: inline">
	  				{{lift.name}}
	  			</div>
	  		</div>
	  </div>
  </div>
</div>