<div>
	<a href="#/dashboard">Dashboard</a> |  
	<a href="#/table">Exercise Table</a> | 
	Track
	<a href="#/" style="margin-left: 75%">Logout</a>
</div>
<h2>Log a Workout</h2>

<div class="panel panel-default" style="width: 320px; height: 100%; padding:10px; display: inline-block; vertical-align: top">
  <div class="panel-heading">
    <h2 class="panel-title" style="display: inline-block; margin-right: 10px">Seach</h2> 
    <input ng-model='filterer' placeholder="e.g. squat, running"></input>
  </div>
  <div class="panel-body" ng-if='filterer'>
	  <div ng-repeat='lift in lifts | filter:filterer' style="margin-bottom: 10px" ng-click='addExercise(lift)'>
	  		<img src="{{lift.pic_left}}" height="50px" width='50px' style="display: inline-block;"> 
	  		<div style="display: inline-block; word-wrap: break-word; height: 40px; width: 210px; padding: 2px 5px; vertical-align: middle;">
	  			<div style="word-wrap: break-word; display: inline-block">
	  				<a href="" style="color:black">{{lift.name}}</a>
	  			</div>
	  		</div>
	  </div>
  </div>
</div>

<div class="panel panel-default" style="width: 40%; height: 100%; padding:10px; display: inline-block; vertical-align: top">
  <div class="panel-heading">
    <h2 class="panel-title">Workout</h2> 
  </div>
  <div class="panel-body">
	  <div ng-repeat='exercise in exercises' style="margin-bottom: 10px">
	  		<img src="{{exercise.pic_left}}" height="50px" width='50px' style="display: inline-block;"> 
	  		<div style="display: inline-block; word-wrap: break-word; height: 40px; width: 210px; padding: 2px 5px; vertical-align: middle;">
	  			<div style="word-wrap: break-word; display: inline-block">
	  				<a href="" style="color:black">{{exercise.name}}</a>
	  			</div>
	  		</div><hr style="margin: 5px 0px">
	  		<span ng-click='addSet(exercise)' style="margin-right: 15px"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Plus_sign_font_awesome.svg/512px-Plus_sign_font_awesome.svg.png" width="20px" height="20px">Add Set</span>
	  		<span ng-click='removeSet(exercise)' style="margin-right: 15px"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Minus_sign_font_awesome.svg/512px-Minus_sign_font_awesome.svg.png" width="20px" height="20px">Remove Set</span>
	  		<hr style="margin: 5px 0px">
	  		<span style="margin-right: 25px">Set</span>
	  		<span style="margin-right: 45px">lbs</span>
	  		<span style="margin-right: 25px">Reps</span>
	  		<hr style="margin: 5px 0px">
	  		<div ng-repeat='set in exercise.sets'>
		  		<span style="margin-right: 35px">{{$index+1}}</span>
		  		<input type="number" style="margin: 0px 20px 10px 0px; width:45px; height:25px" value="{{set.lbs}}">
		  		<input type="number" style="margin: 0px 35px 10px 0px; width:45px; height:25px" value="{{set.reps}}">
	  		</div><hr style="margin: 10px 0px; border:1px solid black">
	  </div>
  </div>
</div>