<div style="width: 20%; display: inline-block; margin-right: 10px;">
	<input ng-model='product_filter' placeholder="search..."></input><br><br>
</div>

<div style="display: inline-block; vertical-align: top; width: 75%; height: 200px; text-align: center;">
	<div ng-repeat='product in products | filter:product_filter | orderBy: "createdAt":true' style="text-align: center; margin: 0px 20px 20px 20px; display: inline-block;">
		<img src="{{product.imageUrl}}" style="width: 150px; height: 150px; border: 1px solid black; margin-bottom: 10px;">
		<p ng-bind='product.name' style="margin-bottom: 0px;"></p>
		<p>({{product.initialQty}} left)</p>
	</div><br>
	<a href="">show more...</a>
</div>