<div style="float: right">
	<a href="#/dashboard">Go to Polls</a> 
</div><br>

<h2 ng-bind='currentPoll.question'></h2>
<p>Click the Vote button to choose one</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Option</th>
			<th>Current Count of Votes</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td ng-bind='poll.options.option1'></td>
			<td ng-bind='poll.options.option1votes'></td>
			<td><button ng-click='vote("option1votes")'>Vote</button></td>
		</tr>
		<tr>
			<td ng-bind='poll.options.option2'></td>
			<td ng-bind='poll.options.option2votes'></td>
			<td><button ng-click='vote("option2votes")'>Vote</button></td>
		</tr>
		<tr>
			<td ng-bind='poll.options.option3'></td>
			<td ng-bind='poll.options.option3votes'></td>
			<td><button ng-click='vote("option3votes")'>Vote</button></td>
		</tr>
		<tr>
			<td ng-bind='poll.options.option4'></td>
			<td ng-bind='poll.options.option4votes'></td>
			<td><button ng-click='vote("option4votes")'>Vote</button></td>
		</tr>
	</tbody>
</table>