<div style="float: right">
	<a href="#/dashboard">Go to Polls</a> 
</div><br>

<h2 ng-bind='currentPoll.question'></h2>
<p>Click the Vote button to choose one</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Option</th>
			<th>Current Count of Votes</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td ng-bind='poll.option1.name'></td>
			<td ng-bind='poll.option1.votes'></td>
			<td><button ng-click='vote("option1")'>Vote</button></td>
		</tr>
		<tr>
			<td ng-bind='poll.option2.name'></td>
			<td ng-bind='poll.option2.votes'></td>
			<td><button ng-click='vote(option2)'>Vote</button></td>
		</tr>
		<tr>
			<td ng-bind='poll.option3.name'></td>
			<td ng-bind='poll.option3.votes'></td>
			<td><button ng-click='vote(option3)'>Vote</button></td>
		</tr>
		<tr>
			<td ng-bind='poll.option4.name'></td>
			<td ng-bind='poll.option4.votes'></td>
			<td><button ng-click='vote(option4)'>Vote</button></td>
		</tr>
	</tbody>
</table>