<div>
	<a href="#/dashboard">Home</a> | 
	<a href='#/create'>Add a Question</a>
	<div style="float: right">
		<a ng-click='logout()'>Logout</a>
	</div>
</div><br>

<div style="text-align: center">
	
	<div style="border:1px solid black; width: 350px; height:80px; margin-left: 35%; padding: 20px;">
		<button onclick="function(){window.location.href='#/quiz'}">Play!</button><br>
		<p>Click the button above to start the trivia game</p>
	</div><br><br><br>


	<div style="float: right">
		Search: <input ng-model='filterer' autofocus></input>
	</div><br><br>

	<table class="table table-striped" style="border: 1px solid black">
		<thead>
			<tr>
				<th>Name</th>
				<th>Score</th>
				<th>Percentage</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='game in games | filter:filterer | orderBy:"percentage":true'>
				<td>{{game.name}}</td>
				<td>{{game.score}}</td>
				<td>{{game.percentage}}</td>
			</tr>
		</tbody>
	</table>













</div>

