<p>Hi {{currentUser.name}}!</p>
<p>Choose an answer for each of the questions and submit the test once done.</p>
<p>Good luck!</p><br><br>

<form class="form-group">
	<div style="width: 700px; height: 150px; padding: 20px; margin-bottom: 20px; border: 1px solid black">
		<label>1. {{currentquiz.question1.question}}</label><br>
		<input type="radio" name="question1" value="option1"> <span ng-bind='{{currentquiz.question1.fake}}'></span><br>
		<input type="radio" name="question1" value="option2"> <span ng-bind='{{currentquiz.question1.correct}}'></span><br>
		<input type="radio" name="question1" value="option3"> <span ng-bind='{{currentquiz.question1.fake}}'></span>
	</div>

	<div style="width: 700px; height: 150px; padding: 20px; margin-bottom: 20px; border: 1px solid black">
		<label>2. {{currentquiz.question2.question}}</label><br>
		<input type="radio" name="question2" value="option1"> <span ng-bind='{{currentquiz.question1.fake}}'></span><br>
		<input type="radio" name="question2" value="option2"> <span ng-bind='{{currentquiz.question1.fake}}'></span><br>
		<input type="radio" name="question2" value="option3"> <span ng-bind='{{currentquiz.question1.correct}}'></span>
	</div>

	<div style="width: 700px; height: 150px; padding: 20px; margin-bottom: 20px; border: 1px solid black">
		<label>3. {{currentquiz.question3.question}}</label><br>
		<input type="radio" name="question3" value="option1"> <span ng-bind='{{currentquiz.question1.correct}}'></span><br>
		<input type="radio" name="question3" value="option2"> <span ng-bind='{{currentquiz.question1.fake}}'></span><br>
		<input type="radio" name="question3" value="option3"> <span ng-bind='{{currentquiz.question1.fake}}'></span>
	</div>
</form><br><br>

<div style="float: right">
	<button onclick="function(){window.location.href='#/dashboard'}">Cancel</button> <button ng-click='submitQuiz()' style="margin-left: 20px;">Submit</button>
</div>
