<p>Hi {{currentUser.name}}!</p>
<p>Choose an answer for each of the questions and submit the test once done.</p>
<p>Good luck!</p><br><br>

<form class="form-group">
	<div style="width: 700px; height: 150px; padding: 20px; margin-bottom: 20px; border: 1px solid black">
		<label>1. {{quiz.question1}}</label><br>
		<input type="radio" value="option1"> {{option1}}<br>
		<input type="radio" value="option1"> {{option2}}<br>
		<input type="radio" value="option1"> {{option3}}
	</div>

	<div style="width: 700px; height: 150px; padding: 20px; margin-bottom: 20px; border: 1px solid black">
		<label>1. {{quiz.question2}}</label><br>
		<input type="radio" value="option1"> {{option1}}<br>
		<input type="radio" value="option1"> {{option2}}<br>
		<input type="radio" value="option1"> {{option3}}
	</div>

	<div style="width: 700px; height: 150px; padding: 20px; margin-bottom: 20px; border: 1px solid black">
		<label>1. {{quiz.question3}}</label><br>
		<input type="radio" value="option1"> {{option1}}<br>
		<input type="radio" value="option1"> {{option2}}<br>
		<input type="radio" value="option1"> {{option3}}
	</div>
</form><br><br>

<div style="float: right">
	<button onclick="function(){window.location.href='#/dashboard'}">Cancel</button> <button ng-click='submitQuiz()'>Submit</button>
</div>
