<html ng-app="friends_app">

<head>
    <title>Full Mean Demo</title>
    <!-- require angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script>
        // Let's create our angular module
        var friends_app = angular.module('friends_app', []);
        // create the FriendFactory
        friends_app.factory('FriendFactory', function($http) {
            var factory = {};
            var friends = [{
                name: "Michael",
                age: 34
            }, {
                name: "Andrew",
                age: 24
            }];

            factory.index = function() {
                    $http.get('/friends').success(function(output) {
                        friends = output;
                        callback(friends);
                    })
                }

            factory.create = function(info, callback) {
                friends.push({
                    name: info.name,
                    age: info.age
                });
                callback(friends);
            }
            return factory;
        });

        friends_app.controller('FriendsController', function($scope, FriendFactory) {
            FriendFactory.index(function(data) {
                $scope.friends = data;
            });
            
            $scope.addfriend = function() {
                FriendFactory.create($scope.new_friend, function() {
                    FriendFactory.index(function(data) {
                        $scope.friends = data;
                    });
                    $scope.new_friend = {};
                });
            }
        })
    </script>
</head>


<body ng-controller="FriendsController">
    <h1>Friends</h1>
    <input type="text" ng-model="filter_name" placeholder="filter"> {{filter_name}}
    <ul>
        <!-- here is where we are going to display friends -->
        <li ng-repeat="friend in friends | filter: filter_name">
            {{friend.name}}, {{friend.age}}
        </li>
    </ul>
    <h1>Add a Friend</h1>
    <!-- objects and properties nothing scary -->
    <input type="text" ng-model="new_friend.name" placeholder="name">
    <input type="text" ng-model="new_friend.age" placeholder="age">
    <!-- addfriend() is a method we are going to make in the angular controller -->
    <input type="submit" ng-click="addfriend()">
</body>

</html>