<h2>Welcome, {{currentUser}}!</h2>
<input type="text" ng-model='threadFilter' style="float: right" placeholder="Search threads..."></input><br><br>

<table class="table table-striped" style="border: 1px solid tan">
	<thead>
		<tr>
			<th>Category</th>
			<th>Topic</th>
			<th>User Name</th>
			<th>Posts</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='thread in threads | filter:threadFilter | orderBy:createdAt:true'>
			<td>{{thread.category}}</td>
			<td>{{thread.topic}}</td>
			<td>{{thread.name}}</td>
			<td>{{thread.posts}}</td>
		</tr>
	</tbody>
</table><br><br>

<form class="form-group">
	<h3>Create a new Thread</h3>
	<label>Topic</label>
	<input type="text" ng-model='newThread.topic'></input><br>
	<label>Description</label>
	<input type="text" ng-model='newThread.description'></input><br>
	<label>Category</label>
	<select ng-model='newThread.category'>
		<option>HTML</option>
		<option>Mongoose</option>
		<option>Node</option>
		<option>Express</option>
		<option>JavaScript</option>
		<option>Angular</option>
	</select><br>
	<input type="submit" value="Submit" ng-click='create()'></input>
</form>
