<div style="float: right">
	<a href="#/dashboard">Dashboard</a> | 
	<a href="#/login">Logout</a>
</div><br><br><br>

<p>{{thread.name}} posted a topic:</p>
<div style="margin-left: 30px;">
	<h3>{{thread.topic}}</h3>
	<p>Description: {{thread.description}}</p>
</div><br><br>

<h3>Post your answer here...</h3>
<textarea style="margin-left: 30px;" rows="4" id="newAnswer" ng-model='newAnswer'></textarea><br>
<input type="submit" value="Post" ng-click='createAnswer()' style="float: right;"></input><br><hr><br>

<div ng-repeat='answer in thread.answers | orderBy:createdAt:true'>
	<div style="float: right">
		{{answer.upvotes}} <img src="http://i.imgur.com/QJ41dQb.png" height="15px" width="15px"> | 
		{{answer.downvotes}} <img src="http://i.imgur.com/eqLD2.png" height="15px" width="15px">
	</div><br>
	<a href="#/users/{{answer.nameId}}">{{answer.name}}:</a> {{answer.text}}<br><br>
	<div style="margin-left: 30px;" ng-repeat='comment in thread.answers.comments'>
		<a href="#/users/{{comment.nameId}}">{{comment.name}}:</a> {{comment.text}}<br>
	</div><br>
	<textarea style="margin-left: 30px;" ng-model='newComment' rows="4"></textarea>
	<input type="submit" value="Comment" style="float: right" ng-click='newComment(answer._id)'></input><br><hr><br>
</div>