<h2>Friends</h2>
    <input type="text" ng-model="filter_name" placeholder="filter"><br><br>
    <ul>
        <!-- here is where we are going to display friends -->
        <li ng-repeat="friend in FC.friends | filter: filter_name">
            {{friend.name}}, {{friend.age}}, <a ng-click='FC.removeFriend(friend)'>Remove</a>
        </li>
    </ul><br><br>
    <h2>Add a Friend</h2>
    <!-- objects and properties nothing scary -->
    <input type="text" ng-model="FC.new_friend.name" name="name" placeholder="name">
    <input type="text" ng-model="FC.new_friend.age" name="age" placeholder="age">
    <!-- addfriend() is a method we are going to make in the angular controller -->
    <input type="submit" ng-click="FC.addFriend()">