<!DOCTYPE html>
<html style="margin: 20px;">
<head>
    <title>Dashboard</title>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="angular-route.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <script type="text/javascript" src="workout.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<body>
    <!-- <div ng-app='myApp'>
        <div ng-view='' style="margin-top: 20px;"></div>
    </div> -->


    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Name</th>
    			<th>Main Muscle Worked</th>
    			<th>Other Muscles</th>
    			<th>Force</th>
    			<th>Level</th>
    			<th>Mechanics Type</th>
    			<th>Equipment</th>
    			<th>Link</th>
    			<th>Stretch Type</th>
    			<th>Sport</th>
    			<th>Type</th>
    		</tr>
    	</thead>
    	<tbody>
    		<div ng-repeat='x in lifts'>
	    		<tr ng-repeat='lift in x'>
	    			<td>{{lift}}</td>
	    			<td>{{lift."Main Muscle Worked"}}</td>
	    		</tr>
    		</div>
    	</tbody>
    </table>
</body>
</html>