<form class="form-group" style="margin-top: 20px;">
	<label>Name</label>
	<select style="width: 25%;" ng-model='newAssociation.name' class="form-control">
		<option>
			<select ng-repeat='player in players'></select>
		</option>
	</select><br>
	<label>Team</label>
	<select style="width: 25%;" ng-model='newAssociation.team' class="form-control">
		<option>
			<select ng-repeat='team in teams'></select>
		</option>
	</select><br>
	<input type="submit" ng-click='addAssociation()' value="Assign Player to Team"></input>
</form><br>

<table class="table table-striped" style="border:1px solid tan;">
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='association in associations'>
			<td>{{association.name}}</td>
			<td>{{association.team}}</td>
			<td><button ng-click='deletePlayer(player)'>Clear Assignment</button></td>
		</tr>
	</tbody>
</table>