<form class="form-group" style="margin-top: 20px;">
	<label>Name</label>
	<input class="form-control" type="text" style="width: 25%;" ng-model='newTeam.team'></input><br>
	<input type="submit" ng-click='addTeam()' value="Add New Team"></input>
</form><br>

<table class="table table-striped" style="border:1px solid tan;">
	<thead>
		<tr>
			<th>Team Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='team in teams'>
			<td>{{team.team}}</td>
			<td><button ng-click='deleteTeam(team)'>Remove Team</button></td>
		</tr>
	</tbody>
</table>